@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 text-white;
}


/* Cor do card dos Pokemons Por Tipo */

.normal {
    background-color: #A8A878;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.electric {
    background-color: #F8D030;
}

.grass {
    background-color: #78C850;
}

.ice {
    background-color: #98D8D8;
}

.fighting {
    background-color: #C03028;
}

.poison {
    background-color: #A040A0;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.psychic {
    background-color: #F85888;
}

.bug {
    background-color: #A8B820;
}

.rock {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.fairy {
    background-color: #EE99AC;
}


/* Criar Card */

@layer components {
    .card {
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: theme('spacing.4');
    }
}